/*cor de fundo, font e cor da escrita*/
body {
    font-family: Arial, sans-serif;
    background-color: #eafcffcc;
    color: #000000; 
}
/*define cor do cabeçalho, cor do titulo, alinha o texto e a distancia dos outros elementos*/
header {
    background-color: #074374;
    color: rgb(224, 220, 220);
    text-align: center;
    padding: 30px;
}
/*esta mudando a distancia do titulo para a discrição*/
header h1 {
    margin-bottom: 50px;
}
/*muda a distancia da barra de pesquisa em relação a escrita*/
main {
    padding: 70px;
}